<div class="container">
  <mat-toolbar></mat-toolbar>
  
  <div FxLayout="row" style="margin-top: 10px;"> 
    <div fxFlex="50">
      <p class="mat-h3" style="text-align: center;">Titulo do Gráfico</p>
      <app-chart data="{{data}}" labels="{{label}}" [type]="'pie'"></app-chart>
    </div>

    <div fxFlex="50">
      <p class="mat-h3" style="text-align: center;">Titulo do Gráfico</p>
      <app-chart data="{{data}}" labels="{{label}}" [type]="'pie'"></app-chart>
    </div>
  </div>

  <div FxLayout="row" style="margin-top: 10px;"> 
    <div fxFlex="50">
      <p class="mat-h3" style="text-align: center;">Titulo do Gráfico</p>
      <app-chart data="{{data}}" labels="{{label}}" [type]="'pie'"></app-chart>
    </div>

    <div fxFlex="50">
      <p class="mat-h3" style="text-align: center;">Titulo do Gráfico</p>
      <app-chart data="{{data}}" labels="{{label}}" [type]="'pie'"></app-chart>
    </div>
  </div>


</div>