<div class="container">

  <div FxLayout="row" style="margin-top: 10px;">
    <!-- Artista por países -->
    <div fxFlex="50" *ngIf="(ArtistPerCountry$ | async) as data">
      <p class="mat-h2" style="text-align: center;">Artistas por Países</p>
      <p class="mat-caption" style="text-align: center;">Tempo de busca: {{data.time}} ms</p>
      <app-chart [data]="percentArtists(data.data.count.slice(1, 6))" [labels]="name(data.data.country.slice(1,6))"
        [type]="'pie'">
      </app-chart>
    </div>

    <!-- Músicas por países -->
    <div fxFlex="50" *ngIf="(songPerCountry$ | async) as data">
      <p class="mat-h2" style="text-align: center;">Músicas por Países</p>
      <p class="mat-caption" style="text-align: center;">Tempo de busca: {{data.time}} ms</p>
      <app-chart [data]="percentSongs(data.data.count.slice(1, 6))" [labels]="name(data.data.country.slice(1,6))"
        [type]="'pie'">
      </app-chart>
    </div>
    
  </div>




  </div>